fpga/electronic-geartrain.runs/
fpga/electronic-geartrain.cache/*
fpga/electronic-geartrain.sim/*
*.sw?

# Ignore list for KiCAD project
# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
# Netlist files (exported from Eeschema)
*.net
# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
